MONGO_URI=mongodb+srv://Vaishnavi:12345@cluster0.o5e7f9b.mongodb.net/6b?retryWrites=true&w=majority&appName=Cluster0
SOLARWINDS_TOKEN=your_solarwinds_token_here
PORT=3000
JWT_SECRET=vaishnavi_secret_key
JWT_EXPIRES_IN=5m