MONGO_URI=mongodb+srv://prerna:prerna123@cluster0.arnfo18.mongodb.net/6b?retryWrites=true&w=majority&appName=Cluster0
SOLARWINDS_TOKEN=your_solarwinds_token_here
PORT=3000
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=5m